<div class="container">
 <h4>REST API, HttpClient GET, Components, Services & ngFor</h4>
 <hr/>
<div *ngFor="let source of sources">
      
      <ul>
        <li>Id : {{source.id}}</li>
        <li>Name : {{source.name}}</li>
        <li>Description : {{source.description}}</li>
        <li>Url : {{source.url}}</li>
        <li>Category : {{source.category}}</li>
        <li>Language : {{source.language}}</li>
        <li>Country : {{source.country}}</li>
      </ul>
      <hr/>
  </div>
 </div> 
 
