<div class="container">
   <div class="row">
      <div class="col-md-12">
        <div class="title">
                <h2>{{edutitle}}</h2>
                <span>{{eduspan}}</span>
                <p>{{edup}}</p>
        </div>
      </div>
      </div>

      <div class="educational-staff">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                        <img [src]="cardimg1" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{cardtitle}}</h5>
                          <p class="card-text">{{cardtext}}</p>
                          
                        </div>
                 </div>
             </div>
                <div class="col-md-4">
                        <div class="card">
                                <img [src]="cardimg2" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">{{cardtitle}}</h5>
                                  <p class="card-text">{{cardtext}}</p>
                                  
                                </div>
                         </div>
                </div>
                <div class="col-md-4">
                        <div class="card">
                                <img [src]="cardimg3" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">{{cardtitle}}</h5>
                                  <p class="card-text">{{cardtext}}</p>
                                  
                                </div>
                         </div>
                </div>
        </div>
</div>
</div>
      